		.qTable{
			width:30%;
			border-collapse:collapse;
		}
		.qTable th{
			padding: 5px;
			border:1px solid #000000;
			color : #000000;
		}
		.qTable td{
			padding: 5px;
			border-right:1px solid #000000;			
			border-left:1px solid #000000;			
			border-bottom:1px dashed #B8B8B8;			
			color : #000000;
		}		
		